@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');
body {
        font-family: 'Nunito', sans-serif;
}
.products {
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #079444ff, #b8db30ff);
}

.IfcOpenShell {
    background: -webkit-linear-gradient(left,#7cbf33ff, #049344ff, #009245ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bgfaded {
    /* background-image: url('../icons/productIcons/bgfaded.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -200px;
}